<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Admin panel</title>

<style>
    body {
        background-image: url(/img/blzmakeup.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
    }

    .footer {
        padding: 50px;
        text-align: center;
        background: #e4606d;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* Footer height */
    }
</style>

</head>
<body>

<div class="container my-2">
    <div>
        <h1 class="text-dark font-weight-bold" style="text-align: center"> Users List</h1>
        <h5 class="text-right text-dark mt-5">Welcome, <span sec:authentication="name"></span></h5>
        <a href = "/add-user" class="btn btn-primary btn-sm mb-3"> Add Employee</a>
        <h5 class="text-right">
        <a sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST"
           href="/logout"><i class="fa fa-sign-out" style="position: absolute; right: 0;"></i> Logout</a>
        </h5>
    </div>

    <div>
        <table border="1" class="table table-striped table-responsive-md; text-dark mt-5"
               style="border-color: black; background-color: #e4606d">
            <thead>
            <tr style="border-color: black">
                <th> User First Name</th>
                <th> User Last Name</th>
                <th> User Email</th>
                <th> User role</th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.getRole().getRole().name()}"></td>
                <td> <a th:href="@{/update-user/{id}(id=${user.id})}" class="btn btn-primary"> Update</a>
                    <a th:href="@{/deleteEmployee/{id}(id=${user.id})}" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<footer class="footer bg-blur">
    <div class="footer">
        <h2 class="text-dark font-weight-bold">&copy;Belleza Makeup Studio 2021. All rights reserved.</h2>
    </div>
</footer>

</html>