<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="#">
<title>Belleza Makeup Studio By Kosi Dimitrova</title>
<!-- CSS -->
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>

</head>

<body class="frontpage">

<div id="loader-wrapper">
<div id="loader"></div>
<div class="loader-section section-left"></div>
<div class="loader-section section-right"></div>
</div>

<div class="menu-outer">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <ul>
           <li><a href="/home">Home</a></li>
           <li><a href="/booking/hour">Booking hour</a></li>
           <li><a href="/gallery">My makeups</a></li>
           <li><a href="/users/login">Login</a></li>
       </ul>
   </nav>
</div>

<a class="menu-close" onClick="return true">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</a>

<div class="fixedcallicon">
	<i class="fa fa-phone"></i><span class="hide">Телефон - 0898380437</span>
</div>

<div class="container">
	<section class="background">
	<div class="content-wrapper">
		<div class="intro">
			<h1><span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">Samuilovo</span>
			<span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">Belleza Studio</span><br/>
			<span class="small wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">- BEAUTY STUDIO -</span>
			<div>
				<span class="smaller" data-wow-duration="2.5s" data-wow-delay="0.5s"> By Kosi Dimitrova</span>
			</div>
			</h1>
		</div>
	</div>
	</section>

	<section class="background">
	<div class="content-wrapper">
		<div class="about">
			<div class="aboutbadge">
				<span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><br/>
				<span class="border">Certificated makeup artist from Proface studio.</span><br/>
				From: 2018</span>
			</div>
			<div class="aboutbadge black">
				<span>We are a proven beauty salon that loves to keep its customers the most beautiful and with the best products.</span>
			</div>
		</div>
	</div>
	</section>
</div>


<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/common.js"></script>
<script src="js/home.js"></script>
<script src="js/testimonials.js"></script>

</body>
</html>